<main class="w-full">
  <div class="grid grid-cols-3 text-center border rounded-md border-gray-700 p-1">
    <button 
      class="h-9 border-r border-gray-700 rounded-sm"
      [ngClass]="{
        'bg-[#2D3339]': selectedFilter === 'all', 
        'bg-[#1E2429]': selectedFilter !== 'all'
      }"
      (click)="selectFilter('all')">
      Todas
    </button>
    <button 
      class="h-9 border-r border-gray-700 rounded-sm"
      [ngClass]="{
        'bg-[#2D3339]': selectedFilter === 'pending', 
        'bg-[#1E2429]': selectedFilter !== 'pending'
      }"
      (click)="selectFilter('pending')">
      Pendientes
    </button>
    <button 
      class="h-9 rounded-sm"
      [ngClass]="{
        'bg-[#2D3339]': selectedFilter === 'completed', 
        'bg-[#1E2429]': selectedFilter !== 'completed'
      }"
      (click)="selectFilter('completed')">
      Completadas
    </button>
  </div>
</main>