@media (max-width: 640px) {
  .custom-snackbar {
    left: 50% !important;
    top: 7% !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(-50%, -50%) !important;
    width: 90vw !important;
    max-width: 460px !important;
    height: auto !important;
  }
}